<%= render 'public/nav' %>
<table class="table table-bordered">
  
    <tbody>
      <h4>マイページ</h4>
  
      <h4>登録情報</h4>
      <%= link_to '編集する', edit_customer_path(@customer.id) %>
  
      <tr>
        <th scope="row">氏名</th>
        <td><%= @customer.first_name %><%= @customer.last_name %></td>
      </tr>
      
      <tr>
        <th scope="row">カナ</th>
        <td><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
      </tr>
      
      <tr>
        <th scope="row">郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      
      <tr>
        <th scope="row">住所</th>
        <td><%= @customer.address %></td>
      </tr>
      
      <tr>
        <th scope="row">電話番号</th>
        <td><%= @customer. telephone_number %></td>
      </tr>
      
      <tr>
        <th scope="row">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>

</table>

<h4>配送先</h4>
<%= link_to '一覧を見る', addresses_path %>

<h4>注文履歴</h4>
<%= link_to '一覧を見る', orders_path %>