<%= render 'public/nav' %>
<main>
  <div class="container">
    <div class="row">
      <div class="col-2 mt-5 bg-light text-center">
        <h4>マイページ</h4>
      </div>
    </div>
    
    <div class="col-xs-12">
      <table class="table table-bordered">
          <p class="mt-3">
              <strong>登録情報</strong>
              <%= link_to '編集する', edit_customer_path(@customer.id), class: "btn btn-success" %>
          </p>
          <tr>
              <td class="col-xs-2">氏名</td>
              <td><%= @customer.first_name %><%= @customer.last_name %></td>
          </tr>
  
          <tr>
              <td class="col-xs-2">カナ</td>
              <td><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
          </tr>
  
          <tr>
              <td class="col-xs-2">郵便番号</td>
              <td><%= @customer.postal_code %></td>
          </tr>
  
          <tr>
              <td class="col-xs-2">住所</td>
              <td><%= @customer.address %></td>
          </tr>
  
          <tr>
              <td class="col-xs-2">電話番号</td>
              <td><%= @customer. telephone_number %></td>
          </tr>
  
          <tr>
              <td class="col-xs-2">メールアドレス</td>
              <td><%= @customer.email %></td>
          </tr>
      </table>
      <p>
          <strong>配送先</strong>
          <%= link_to '一覧を見る', addresses_path, class: "btn btn-info", style: "margin: 10px;" %></br>
          <strong>注文履歴</strong>
          <%= link_to " 一覧を見る", orders_path, class: "btn btn-info", style: "margin: 10px;" %>
      </p>
  </div>
</main>