<%= render 'admin/nav' %>
<h1>商品編集</h1>
  <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |item| %>
  
  <div class="from-group">
   <p>商品画像</p>
      <span><%= item.file_field :image, accept: "image/*" %></span>
  </div>
  
  <div class="from-group">
    <p>商品名</p>
      <span><%= item.text_field :name, placeholder: "商品名" %></span>
  </div>
  
  <div class="from-group">
    <p>商品説明</p>
      <span><%= item.text_area :introduction, placeholder: "ここに説明文を記述します" %></span>
  </div>
  
  <div class="from-group">
   <p>ジャンル</p>
     <span><%= item.collection_select :genre_id, @genres, :id, :name %></span>
  </div>
  
  <div class="from-group">
    <p>税抜価格</p>
      <span><%= item.text_field :price, placeholder: "1000" %>円</span>
  </div>
  
  <div class="from-group">
    <p>販売ステータス</p>
      <span><%= item.label :is_active_sale, '販売中' %></span>
      <span><%= item.radio_button :is_active, :true %></span>
      <span><%= item.label :is_active_suspended_sales, '販売停止中' %></span>
      <span><%= item.radio_button :is_active, :false %></span>
  </div>
  
	<div class="from-group">
    <%= item.submit '変更を保存', class: "btn btn-success" %>
  </div>
  
<% end %>