<%= render 'admin/nav'%>
<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0 offset-md-1">
    <div class="row">
      <div class="col-md-12">
        <p><span class="p-3 mb-2 bg-light text-dark font-weight-bold">商品一覧</span></p>
        <p><%= link_to '商品新規登録画面へ', new_admin_item_path, class: "text-end" %></p>
          <table class="table">
             <thead>
                <tr class="p-3 mb-2 bg-light text-dark">
                  <th>商品ID</th>
                  <th>商品名</th>
                  <th>税抜価格</th>
                  <th>ジャンル</th>
                  <th>ステータス</th>
                  <th colspan="5"></th>
                </tr>
              </thead> 
            
            <tbody>
              <% @items.each do |item| %>
              <tr> 
                <td>
                  <%= item.id %>
                </td>  
                <td>
                  <u><%= link_to item.name,  admin_item_path(item.id), class: "text-dark" %></u>
                </td> 
                <td>
                  ¥ <%= item.price.to_s(:delimited) %>
                </td>
                <td>
                  <%= item.genre.name %>
                </td>
                <td>
                  <% if item.is_active %>
                    <p class="text-success">販売中</p>
                  <% else %>
                    <p class="text-secondary">販売停止中</p>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%#= paginate @items %>
      </div>
    </div>
  </div>              
</main>