<%= render 'admin/nav'%>
<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0 offset-md-1">
    <div class="row">
      <div class="col-md-12">
        <h1>商品一覧</h1>
        <%= link_to '商品新規登録画面へ', new_admin_item_path %>
          <table class="table">
             <thead>
                <tr>
                  <th>商品ID</th>
                  <th>商品名</th>
                  <th>税抜価格</th>
                  <th>ジャンル</th>
                  <th>ステータス</th>
                  <th colspan="5"></th>
                </tr>
              </thead> 
            
            <tbody>
              <% @items.each do |item| %>
              <tr> 
                <td>
                  <%= item.id %>
                </td>  
                <td>
                  <%= link_to item.name,  admin_item_path(item.id) %>
                </td> 
                <td>
                  ¥ <%= item.price.to_s(:delimited) %>
                </td>
                <td>
                  <%= item.genre.name %>
                </td>
                <td>
                  <% if item.is_active %>
                    販売中
                  <% else %>
                    販売停止中
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%#= paginate @items %>
      </div>
    </div>
  </div>              
</main>