<%= render 'admin/nav' %>

<main>
  <div class="container">
    <div class="text-center">
      <div class="col-2 bg-light mt-5 ml-2">
        <h2>会員一覧</h2>
      </div>
          
      <table class="table mt-5">
          <thead>
            <tr>
              <th scope="col" style="width: 10%">会員ID</th>
              <th scope="col" style="width: 20%">氏名</th>
              <th scope="col" style="width: 40%">メールアドレス</th>
              <th scope="col" style="width: 30%">ステータス</th>
            </tr>
          </thead> 
                      
                      
          <tbody>
            <% @customers.each do |customer| %>
            <tr> 
              <td>
                <%= customer.id %>
              </td>  
              <td>
                <%= link_to customer.full_name + "様", admin_customer_path(customer.id) %>
              </td> 
              
              <td>
                <%= customer.email %>
              </td>
              <td>
                <% if customer.is_deleted %>
                  <%= '退会' %>
                <% else %>
                  <p class="text-success">
                  <%= '有効' %>
                </p>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
      </table>
            
      </div>
    </div>
  </main>