<%= render 'admin/nav' %>
<h1>会員一覧</h1>

  <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
          <th colspan="4"></th>
        </tr>
      </thead> 
                  
                  
      <tbody>
        <% @customers.each do |customer| %>
        <tr> 
          <td>
            <%= customer.id %>
          </td>  
          <td>
            <%= link_to customer.first_name + customer.last_name, admin_customer_path(customer.id) %>
          </td> 
          
          <td>
            <%= customer.email %>
          </td>
          <td>
            <% if customer.is_deleted %>
            <%= '退会' %>
            <% else %>
            <%= '有効' %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
  </table>