<h1>ジャンル編集</h1>

 <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |genre| %>
    <div class="form-group">
      <%= genre.label :name %>
      <%= genre.text_field :name, class: "form-control name" %>
    </div>
    
    <div class="form-group">
      <%= genre.submit '変更を保存', class: "btn btn-secondary" %>
    </div>
 
 <% end %>
 
 <%= link_to "戻る", admin_genres_path(@genre.id) %>
 <!--<%#= link_to '削除', admin_genre_path(@genre.id), method: :delete %>-->