<h2>配送先編集</h2>

<%= form_with model: @address, url: address_path(@address.id), method: :patch do |address| %>

<h5>郵便番号(ハイフンなし)</h5>
<%= address.text_field :postal_code %>

<h5>住所</h5>
<%= address.text_field :address %>

<h5>宛名</h5>
<%= address.text_field :name %>

<%= address.submit '変更内容を保存' %>

<% end %>