<%= render 'public/nav' %>
<h2>配送先登録/一覧</h2>

<% if @address.errors.any? %>
  <%= @address.errors.count %>件のエラーが発生しました
  <ul>
    <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @address, url: addresses_path, method: :post, local: true do |address| %>

<h5>郵便番号(ハイフンなし)</h5>
<%= address.text_field :postal_code, placeholder: "0000000", maxlength: "7" %>

<h5>住所</h5>
<%= address.text_field :address, placeholder: "東京都渋谷区代々木神薗町0-0", size: '50' %>

<h5>宛名</h5>
<%= address.text_field :name, placeholder: "令和道子" %>

<%= address.submit '新規登録' %>

<% end %>
<table>
 <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>氏名</th>
      <th colspan="4"></th>
    </tr>
  </thead> 
  
    <tbody>
      <% @addresses.each do |address| %>
        <tr> 
            <td>
              <%= address.postal_code %>
            </td>  
            
            <td>
              <%= address.address %>
            </td>
            
            <td>
              <%= address.name %>
            </td>
            <td>
              <%=link_to '編集する', edit_address_path(address.id) %>
            </td>
            <td>
              <%= link_to '削除する', address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>