<%= render 'public/nav' %>

<h2>ショッピングカート</h2>

  <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "btn btn-danger btn-sm" %>


<table class="table">
    
    
  <thead>
    <tr>
      <th scope="col">商品名</th>
      <th scope="col">単価(税込)</th>
      <th scope="col">数量</th>
      <th scope="col">小計</th>
      <th scope="col"></th>
    </tr>
  </thead>
  
  <tbody>
  
    <% @cart_items.each do |cart_item| %>
      <tr>
        
        <td><%= image_tag cart_item.image if cart_item.image.attached? %><%= cart_item.item_id %></td>
        <td><%= cart_item.item.with_tax_price %></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.subtotal %></td>
        <td><%= link_to '削除する', cart_item_path(cart_item.id), method: :delete %></td>
         
      </tr>
      <% end %>
      
     
    <%= @total += @cart_items.subtotal %>
    
    
  </tbody>
  
</table>

