<%= render 'public/nav' %>
<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
   
  <h5>名前</h5>
    (姓)<%= f.text_field :first_name, autofocus: true, placeholder: "令和" %>
    (名)<%= f.text_field :last_name, placeholder: "道子" %>

  <h5>フリガナ</h5>
    (セイ)<%= f.text_field :first_name_kana, placeholder: "レイワ" %>
    (メイ)<%= f.text_field :last_name_kana, placeholder: "ミチコ" %>
  
  <h5>メールアドレス</h5>
    <%= f.email_field :email, placeholder: "sample@example.com" %>
    
  <h5>郵便番号(ハイフンなし)</h5>
    <%= f.text_field :postal_code, placeholder: "0000000", maxlength: "7" %>
    
  <h5>住所</h5>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神薗町0-0", size: '50' %>
    
  <h5>電話番号(ハイフンなし)</h5>
    <%= f.text_field :telephone_number, placeholder: "00000000000" %>

  <h5>パスワード(6文字以上)</h5>
    <!--<%# if @minimum_password_length %>-->
    <!--<em>(<%#= @minimum_password_length %> characters minimum)</em>-->
    <!--<%# end %><br />-->
    <%= f.password_field :password %>

  <h5>パスワード(確認用)</h5>
    <%= f.password_field :password_confirmation %>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>

<% end %>

<p>既に登録済みの方</p>
<p><%= link_to 'こちら', new_customer_session_path %>からログインしてください</p>

<%#= render "public/shared/links" %>
