<%= render 'public/nav' %>
  <div class="container">
    <div class="row">
      <div class="col text-center my-5 bg-light">
          <h4>注文履歴詳細</h4>
      </div>
    </div>
          


      <div calss="row">
          <div class="col-md-10 offset-1">
          	<strong>注文情報</strong>
        	    <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                      <th class="bg-light">注文日</th>
                	    <td class="text-left">
                        <%= @order.created_at.strftime('%Y/%m/%d') %>
                      </td>
                    </tr>
                    <tr>
                      <th class="bg-light">配送先</th>
                      <td class="text-left">
                      〒 <%= @order.postal_code %><br>
                        <%= @order.address %><br>
                        <%= @order.name %>
                      </td>
                    </tr>
                    <tr>
                      <th class="bg-light">支払方法</th>
                      <td class="text-left">
                        <%= @order.payment_method_i18n %>
                      </td>
                    </tr>
                    <tr>
                      <th class="bg-light">ステータス</th>
                      <td class="text-left">
                        <%= @order.status_i18n %>
                      </td>
                    </tr>
                </tbody>
              </table>
          </div>
      </div>
      
      <div class="row  mt-4">
        
        <div class="col-md-7 offset-1">
           <strong>注文内容</strong>
            <table class="table table-bordered table-condensed">
              <thead class="bg-light">
                <tr class="info">
                    <th>商品</th>
                    <th>単価(税込)</th>
                    <th>個数</th>
                    <th>小計</th>
                </tr>
              </thead>
              <tbody>
            	<% @order_details.each do |order_detail| %>
                <tr>
                    <td><%= order_detail.item.name %></td>
                    <td>¥ <%= order_detail.item.with_tax_price.to_s(:delimited) %></td>
                    <td><%= order_detail.amount %></td>
                    <td>¥ <%= (order_detail.item.with_tax_price * order_detail.amount).to_s(:delimited) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
        </div>
          
          <div class="col-md-3">
            <strong>請求情報</strong>
              <table class="table table-bordered table-condensed">
                 <tr>
                    <th class="bg-light">商品合計</th>
                    <td>
                      ¥<%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %>
                    </td>
                  </tr>
                  <tr>
                    <th class="bg-light">配送料</th>
                    <td>
                      ¥<%= @order.shipping_cost.to_s(:delimited) %>
                    </td>
                  </tr>
                 
                  <tr>
                    <th class="bg-light">ご請求金額</th>
                    <td>
                      ¥<%= @order.total_payment.to_s(:delimited) %>
                    </td>
                  </tr>
              </table>
          </div>
      </div>    
  </div>