<header>
  
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
      
        
        <button class="btn btn-outline-secondary" type="button"><%= link_to "Logo", root_path, class: 'nav-link text-dark'  %></button>
        <% if customer_signed_in? %>
         <ul class="navbar-nav ml-auto">
           
           
             <li>
              <button class="btn btn-outline-secondary" type="button"><%= link_to 'マイページ', customers_my_page_path, class: 'nav-link text-dark'  %></button>
            </li>
            
            <li>
              <button class="btn btn-outline-secondary" type="button"><%= link_to  '商品一覧', items_path, class: 'nav-link text-dark'   %></button>
            </li>
            
            <li>
              <button class="btn btn-outline-secondary" type="button"><%= link_to 'カート', cart_items_path, class: 'nav-link text-dark'  %></button>
            </li>
            
            <li>
              <button class="btn btn-outline-secondary" type="button"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link text-dark'  %></button>
            </li>
            
          </ul>
      
           <% else %>
          <ul class="navbar-nav ml-auto">
             
              <li>
                <button class="btn btn-outline-secondary" type="button"><%= link_to 'About', about_path, class: 'nav-link text-dark'  %></button>
              </li>
              
              <li>
                <button class="btn btn-outline-secondary" type="button"><%= link_to  '商品一覧', items_path, class: 'nav-link text-dark'  %></button>
              </li>
              
              <li>
                <button class="btn btn-outline-secondary" type="button"><%= link_to  '新規登録', new_customer_registration_path, class: 'nav-link text-dark'  %></button>
              </li>
              
              <li>
                <button class="btn btn-outline-secondary" type="button"><%= link_to 'ログイン', new_customer_session_path, class: 'nav-link text-dark'  %></button>
              </li>
              
              <li>
                <button class="btn btn-outline-secondary" type="button"><%= link_to  '管理者側ログインへ', new_admin_session_path, class: 'nav-link text-dark'  %></button>
              </li>
              
          </ul>
          
            <% end %>
   
    <div>
  </nav>
</header>